article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px -apple-system, Helvetica, Arial, Tahoma, "PingFang SC", "Microsoft yahei", "Hiragino Sans GB", "Lantinghei SC", "Microsoft YaHei", sans-serif;
  color: #333; }

li, ol, ul {
  list-style: none; }

button, fieldset, img, input {
  border: 0;
  outline: 0; }

a, input, select, textarea {
  outline: 0; }

address, cite, dfn, em, i, var {
  font-style: normal; }

html, body {
  height: 100%; }

a {
  text-decoration: none; }

img {
  display: block; }

.header {
  position: relative;
  min-width: 1200px;
  width: 100%;
  padding-top: 25px; }

.footer {
  color: #fefefe;
  background-color: #222;
  padding: 45px 0 70px;
  min-width: 1200px; }
  .footer-bd {
    position: relative;
    width: 520px;
    padding-left: 380px;
    margin: 0 auto; }
    .footer-bd .logo, .footer-bd .logo2, .footer-bd .logo3 {
      position: absolute;
      left: 40px;
      top: 10px;
      width: 100px; }
    .footer-bd .logo2 {
      top: 90px; }
    .footer-bd .logo3 {
      top: 150px; }
    .footer-bd .qr-code {
      text-align: center;
      position: absolute;
      left: 200px;
      top: 20px; }
      .footer-bd .qr-code .qrcode {
        width: 116px;
        margin-bottom: 10px; }
    .footer-bd .links {
      padding-top: 30px; }
      .footer-bd .links .link-group {
        position: relative;
        padding: 30px 0; }
        .footer-bd .links .link-group:last-child {
          padding-bottom: 0; }
      .footer-bd .links .link-key {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #3c8354;
        color: #fff;
        padding: 2px 5px; }
      .footer-bd .links .link-val {
        display: inline-block;
        margin-right: 20px;
        padding-left: 10px;
        position: relative;
        margin-bottom: 5px; }
        .footer-bd .links .link-val:after {
          content: '';
          position: absolute;
          width: 4px;
          height: 4px;
          background-color: #fff;
          border-radius: 2px;
          left: 0;
          top: 50%;
          margin-top: -2px; }
      .footer-bd .links a {
        color: #fefefe; }
        .footer-bd .links a:hover {
          text-decoration: underline; }

.navbar {
  width: 900px;
  margin: 0 auto; }
  .navbar .logo {
    display: initial;
    width: 105px; }
  .navbar .menu {
    float: right;
    line-height: 63px;
    font-size: 16px; }
    .navbar .menu a {
      position: relative;
      color: #000;
      display: inline-block;
      margin-left: 40px;
      transition: opacity .5s; }
      .navbar .menu a:hover {
        opacity: .6; }
      .navbar .menu a.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 18px;
        width: 100%;
        height: 2px;
        background-color: #000; }
    .navbar .menu.menu-white a {
      color: #fff; }
    .navbar .menu.menu-white a.active:after {
      background-color: #fff; }

.container {
  min-height: 500px;
  min-width: 1200px;
  overflow-x: hidden;
  margin: 0 auto; }

.section-slash {
  position: absolute;
  min-width: 10px;
  height: 30px;
  background: url(../images/slash.png) repeat-x; }
  .section-slash.white {
    background-image: url(../images/slash-white.png); }

.header {
  height: 950px;
  background: url(../images/contact/contact_01.jpg) center -150px no-repeat; }
  .header .contact-section {
    position: relative;
    padding: 70px 0 0 560px;
    width: 340px;
    margin: 0 auto; }
    .header .contact-section .contact-tit {
      margin-bottom: 15px; }
    .header .contact-section .contact-hint {
      display: inline-block;
      font-size: 20px;
      border-bottom: 2px solid #000;
      margin-bottom: 25px; }
    .header .contact-section .contact-desc {
      line-height: 1.8;
      letter-spacing: 1px; }
      .header .contact-section .contact-desc h5 {
        font-size: 18px;
        margin-bottom: 5px; }
      .header .contact-section .contact-desc p {
        font-size: 14px; }
