article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px -apple-system, Helvetica, Arial, Tahoma, "PingFang SC", "Microsoft yahei", "Hiragino Sans GB", "Lantinghei SC", "Microsoft YaHei", sans-serif;
  color: #333; }

li, ol, ul {
  list-style: none; }

button, fieldset, img, input {
  border: 0;
  outline: 0; }

a, input, select, textarea {
  outline: 0; }

address, cite, dfn, em, i, var {
  font-style: normal; }

html, body {
  height: 100%; }

a {
  text-decoration: none; }

img {
  display: block; }

.header {
  position: relative;
  min-width: 1200px;
  width: 100%;
  padding-top: 25px; }

.footer {
  color: #fefefe;
  background-color: #222;
  padding: 45px 0 70px;
  min-width: 1200px; }
  .footer-bd {
    position: relative;
    width: 520px;
    padding-left: 380px;
    margin: 0 auto; }
    .footer-bd .logo, .footer-bd .logo2, .footer-bd .logo3 {
      position: absolute;
      left: 40px;
      top: 10px;
      width: 100px; }
    .footer-bd .logo2 {
      top: 90px; }
    .footer-bd .logo3 {
      top: 150px; }
    .footer-bd .qr-code {
      text-align: center;
      position: absolute;
      left: 200px;
      top: 20px; }
      .footer-bd .qr-code .qrcode {
        width: 116px;
        margin-bottom: 10px; }
    .footer-bd .links {
      padding-top: 30px; }
      .footer-bd .links .link-group {
        position: relative;
        padding: 30px 0; }
        .footer-bd .links .link-group:last-child {
          padding-bottom: 0; }
      .footer-bd .links .link-key {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #3c8354;
        color: #fff;
        padding: 2px 5px; }
      .footer-bd .links .link-val {
        display: inline-block;
        margin-right: 20px;
        padding-left: 10px;
        position: relative;
        margin-bottom: 5px; }
        .footer-bd .links .link-val:after {
          content: '';
          position: absolute;
          width: 4px;
          height: 4px;
          background-color: #fff;
          border-radius: 2px;
          left: 0;
          top: 50%;
          margin-top: -2px; }
      .footer-bd .links a {
        color: #fefefe; }
        .footer-bd .links a:hover {
          text-decoration: underline; }

.navbar {
  width: 900px;
  margin: 0 auto; }
  .navbar .logo {
    display: initial;
    width: 105px; }
  .navbar .menu {
    float: right;
    line-height: 63px;
    font-size: 16px; }
    .navbar .menu a {
      position: relative;
      color: #000;
      display: inline-block;
      margin-left: 40px;
      transition: opacity .5s; }
      .navbar .menu a:hover {
        opacity: .6; }
      .navbar .menu a.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 18px;
        width: 100%;
        height: 2px;
        background-color: #000; }
    .navbar .menu.menu-white a {
      color: #fff; }
    .navbar .menu.menu-white a.active:after {
      background-color: #fff; }

.container {
  min-height: 500px;
  min-width: 1200px;
  overflow-x: hidden;
  margin: 0 auto; }

.section-slash {
  position: absolute;
  min-width: 10px;
  height: 30px;
  background: url(../images/slash.png) repeat-x; }
  .section-slash.white {
    background-image: url(../images/slash-white.png); }

.header {
  height: 536px;
  background: url(../images/procraft/procraft_01.jpg) center 0 repeat-x;
  background-size: auto 100%; }
  .header-img-desc {
    position: relative;
    width: 900px;
    height: 473px;
    margin: 0 auto; }
    .header-img-desc-txt {
      position: absolute;
      bottom: 25px;
      left: 0; }
      .header-img-desc-txt img, .header-img-desc-txt p {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px; }
      .header-img-desc-txt p {
        background-color: #094;
        padding: 3px 8px;
        color: #fff;
        font-size: 14px; }
        .header-img-desc-txt p > span:not(:last-child) {
          margin-right: 22px; }

.proc-section.bg1 {
  height: 400px;
  background: url(../images/procraft/procraft_03.jpg) center 0 repeat-x; }

.proc-section.black {
  background-color: #222; }
  .proc-section.black .search-section {
    width: 900px;
    margin: 0 auto; }
    .proc-section.black .search-section .search {
      position: relative;
      width: 560px;
      margin: 30px auto 0;
      padding-bottom: 60px; }
      .proc-section.black .search-section .search .search-type {
        display: inline-block;
        text-align: center;
        width: 120px;
        background-color: #e5e5e5;
        color: #898989;
        font-size: 16px;
        line-height: 47px; }
        .proc-section.black .search-section .search .search-type:hover {
          cursor: pointer; }
      .proc-section.black .search-section .search .search-input {
        height: 47px;
        line-height: 47px;
        border: none;
        font-size: 16px;
        width: 324px;
        padding: 0 20px;
        border-radius: 25px 0 0 25px; }
      .proc-section.black .search-section .search .search-btn {
        position: absolute;
        height: 47px;
        width: 50px;
        border-radius: 0 25px 25px 0;
        background-color: #019758; }
        .proc-section.black .search-section .search .search-btn > img {
          margin: 10px 0 0 10px; }
    .proc-section.black .search-section .search-title {
      padding: 70px 0 50px;
      text-align: right; }
      .proc-section.black .search-section .search-title > img {
        display: inline-block; }
    .proc-section.black .search-section .search-hint {
      color: #fff;
      position: relative;
      line-height: 2;
      letter-spacing: 1px; }
    .proc-section.black .search-section .pl70 {
      padding-left: 70px;
      margin-bottom: 10px; }
    .proc-section.black .search-section .green {
      position: absolute;
      left: 0;
      top: 0;
      color: #009758; }

.section {
  position: relative;
  width: 900px;
  margin: 40px auto; }
  .section .introduction {
    position: absolute;
    width: 540px;
    top: 340px;
    left: 336px; }
  .section .intro-tit {
    margin-bottom: 20px; }
  .section .intro-hint {
    display: inline-block;
    font-size: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    margin-bottom: 20px;
    font-weight: bold; }
  .section .intro-desc {
    text-align: left;
    line-height: 1.8;
    letter-spacing: 1px; }
  .section.dev {
    position: relative;
    text-align: right; }
    .section.dev .dev-img {
      display: inline-block; }
    .section.dev .develop {
      position: absolute;
      top: 0;
      width: 310px;
      text-align: left; }
      .section.dev .develop .intro-hint {
        margin-bottom: 30px; }
      .section.dev .develop .intro-desc {
        word-break: break-all;
        letter-spacing: 2px; }
  .section-right {
    padding: 30px;
    color: #fff;
    float: right;
    width: 325px; }
  .section-tit {
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 20px; }
  .section-hint {
    display: inline-block;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
    margin-bottom: 20px;
    font-weight: bold; }
    .section-hint.white {
      color: #fff; }
  .section-desc {
    text-align: left;
    line-height: 2;
    letter-spacing: 1px;
    color: #fff; }
  .section.black {
    background-color: #222;
    margin: 0 auto;
    width: 100%; }
    .section.black .banner-txt {
      color: #fff;
      background-color: #009944;
      text-align: center;
      padding: 96px 0; }
      .section.black .banner-txt h3 {
        font-size: 24px;
        margin-bottom: 15px; }
      .section.black .banner-txt p {
        font-size: 18px; }
    .section.black .develop {
      width: 900px;
      margin: 0 auto; }
    .section.black .intro-tit {
      text-align: right;
      padding: 44px 20px 40px 0; }
      .section.black .intro-tit .intro-hint {
        margin-top: 20px;
        color: #fff;
        border-color: #fff; }
    .section.black .mv-body {
      position: relative;
      padding-right: 240px;
      padding-bottom: 60px; }
      .section.black .mv-body .mv-nav {
        width: 200px;
        position: absolute;
        right: 0;
        height: 382px;
        overflow-y: auto;
        overflow-x: hidden;
        top: 0; }
        .section.black .mv-body .mv-nav .mv-box {
          cursor: pointer;
          position: relative;
          width: 200px;
          height: 118px;
          margin-bottom: 12px; }
          .section.black .mv-body .mv-nav .mv-box:last-child {
            margin-bottom: 0; }
          .section.black .mv-body .mv-nav .mv-box.active:after {
            content: '';
            position: absolute;
            z-index: 9;
            background-color: #009944;
            left: 0;
            top: 0;
            bottom: 0;
            width: 10px; }
          .section.black .mv-body .mv-nav .mv-box .txt {
            position: absolute;
            white-space: nowrap;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            text-align: center;
            color: #fff; }
            .section.black .mv-body .mv-nav .mv-box .txt:after {
              position: absolute;
              content: '';
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);
              width: 15px;
              height: 4px;
              border-radius: 4px;
              background-color: #fff; }
      .section.black .mv-body .mv {
        position: relative;
        height: 382px; }
        .section.black .mv-body .mv .play {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer; }

.section-img {
  margin: 40px auto;
  height: 275px;
  background: url("../images/procraft/procraft_04.jpg") center 0 repeat-x; }
