@import '../common';

.header{
    height: 1100px;
    background: url(../images/contact/contact_01.jpg) center 0 no-repeat;

    .contact-section{
        position: relative;
        padding: 150px 0 0 560px;
        width: 340px;
        margin: 0 auto;
        .contact-tit{ margin-bottom: 15px; }
        .contact-hint{
            display: inline-block;
            font-size: 20px;
            border-bottom: 2px solid #000;
            margin-bottom: 25px;
        }
        .contact-desc{
            line-height: 1.8;
            h5{ font-size: 18px; margin-bottom: 5px; }
            p{ font-size: 14px; }
        }
    }
}
